!!! 5
%html
  %head
    %meta{:name => 'viewport', :content => 'width=device-width'}
    %title Instagramd - Instagram Raw Image Retriever
  %body
    %header#header
      %h1
        %a{:href => '/'} Instagramd
      %p  An Instagram Raw Image Retriever.
      %hr
    
    #content
      =yield

    %footer#footer
      %hr
      %p 
        :markdown
          The thumbnail is retrieved from Instagram's [public API](http://instagram.com/developer/embedding/).
